@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

aside {
  // background: #eef1f6;
  background: #fff;
  margin-bottom: 20px;
  display: block;
  width: $sideBarWidth !important;
  box-shadow: $sideBarBoxShadow;
  line-height: 0;
  font-size: 16px;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  //   Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding: 12px;
  background-color: #f4f4f5;
  // background-color: #f7fbff;
  border: 1px solid #dfe6ec;
  // border: 1px solid #dee6ef;
  border-radius: 2px;
  margin-bottom: 16px;
  .filter-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;

    .el-form-item__label {
      padding-right: 4px;
    }
  }
}

.table-plus {
  flex: 1;
  transition: all 2s ease-out;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.table-operation {
  margin-bottom: 8px;
  .table-alert {
    margin-right: 8px;
    font-size: 12px;
    line-height: 1;

    .el-alert__description {
      margin-top: 0;
    }
  }
}

// v-loading custom class
.custom-loading {
  background-color: rgba(0, 0, 0, 0.65);
  .el-loading-spinner {
    .circular {
      .path {
        stroke: rgba(255, 255, 255, 0.85);
      }
    }
    .el-loading-text {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// form-item-submit
.form-item-submit {
  padding-top: 16px;
}

// .dialog-inner
.dialog-inner {
  height: 70vh !important;
}
