// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// header
$header-bg-color-begin: #0070f4;
$header-bg-color-end: #0087fe;

// sidebar
// $menuText: #bfcbd9;
$menuText: #606266;
// $menuActiveText: #409eff;
$menuActiveText: #0070f4;
// $subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951
// $subMenuActiveText: #0087fe; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText: #0087fe; // https://github.com/ElemeFE/element/issues/12951

// $menuBg: #304156;
$menuBg: #ffffff;
// $menuHover: #263445;
$menuHover: #e6f7ff;

// $subMenuBg: #1f2d3d;
$subMenuBg: #ffffff;
// $subMenuHover: #001528;

$subMenuHover: #e6f7ff;

$sideBarWidth: 200px;

$sideBarBoxShadow: 0 0 8px 0 rgba(29, 35, 41, 0.28);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
