/* elment ui */

// 小圆角
$--border-radius-small: 2px !default;

// color
$--color-white: #ffffff !default;

/* theme color */
// $--color-primary: #1890ff;
$--color-primary: #4876e7;
// $--color-success: #13ce66;
// $--color-warning: #ffba00;
// $--color-danger: #ff4949;
// $--color-info: #1e1e1e;

// $--button-font-weight: 400;

// $--color-text-primary: #303133 !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;

$--color-primary-light-9: mix(
  $--color-white,
  $--color-primary,
  90%
) !default; /* ecf5ff */

// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;

// // Table
// $--table-border: 1px solid #dfe6ec;

// Alert
$--alert-border-radius: $--border-radius-small;

// MessageBox
$--msgbox-border-radius: $--border-radius-small;

// Notification
$--notification-radius: $--border-radius-small;

// Input
$--input-border-radius: $--border-radius-small;

// Cascader
$--cascader-menu-radius: $--border-radius-small;

// Button
$--button-border-radius: $--border-radius-small;
$--button-medium-border-radius: $--border-radius-small;
$--button-small-border-radius: $--border-radius-small;
$--button-mini-border-radius: $--border-radius-small;

// Pagination
$--pagination-border-radius: $--border-radius-small;

// Tag
$--tag-border-radius: $--border-radius-small;

// Card
$--card-border-radius: $--border-radius-small;

// Transfer
$--transfer-border-radius: $--border-radius-small;

// Popup
$--popup-modal-opacity: 0.06;

// Menu
$--menu-item-hover-fill: $--color-primary-light-9 !default;

/* elment ui */

// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// header
$header-bg-color-begin: #4876e7;
$header-bg-color-end: #5b8bff;

// sidebar
// $menuText: #bfcbd9;
$menuText: #606266;
// $menuActiveText: #409eff;
$menuActiveText: $header-bg-color-begin;
// $subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951
// $subMenuActiveText: #0087fe; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText: $header-bg-color-end; // https://github.com/ElemeFE/element/issues/12951

// $menuBg: #304156;
$menuBg: #ffffff;
// $menuHover: #263445;
$menuHover: #e6f7ff;

// $subMenuBg: #1f2d3d;
$subMenuBg: #ffffff;
// $subMenuHover: #001528;

$subMenuHover: #e6f7ff;

$sideBarWidth: 200px;

$sideBarCollapseWidth: 56px;

$sideBarBorderRight: 1px solid #dfe6ec;

$sideBarBoxShadow: 0 0 4px 0 rgba(29, 35, 41, 0.28);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  primaryColor: $--color-primary;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sideBarCollapseWidth: $sideBarCollapseWidth;
}
